@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.heroBanner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
